*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252E38;
}

.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 480px;
    background-color: #15202B;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formulario a{
    color: white;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.formulario input{
    width: 80%;
    margin-top: 25px;
    height: 40px;
    outline: none;
    background-color: #15202B;
    border: none;
    border-bottom: solid 1px white;
    color: white;
    font-size: 16px;
    caret-color: white;
}

.formulario input::placeholder{
    color: white;
    font-size: 16px;
}

.formulario input:focus{
    background-color: #15202B;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: solid 1px white;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px #15202B inset;
  transition: background-color 5000s ease-in-out 0s;
}

.button-65 {
    margin-top: 80px;
    width: 80%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-65:hover:after {
    opacity: .5;
  }
  
  .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-65:active:after {
    opacity: 1;
  }

  .formulario h1{
    align-self: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 320px) and (max-width:375px) {

    .formulario{
        width: 250px;
        height: 450px;
    }

    .formulario h1{
        font-size: 22px;
    }

}

@media screen and (min-width: 375px) and (max-width: 425px) {

    .formulario{
        width: 300px;
        height: 450px;
    }

}